<div class="flex flex-col w-full">
    <nav class="h-8 flex flex-row justify-start align-center border-b border-slate-200 gap-4">
        <div class="ml-4 flex flex-col justify-center content-center">
            <a class="text-md font-medium transition-all duration-300 text-black hover:text-transparent bg-clip-text bg-gradient-to-r from-slate-500 to-slate-800" href="{{titleUrl}}">{{title}}</a>
        </div>

        <div class="flex flex-col justify-center content-center">
            <a class="text-md font-medium">|</a>
        </div>

        {{#each links}}
            <div class="flex flex-col justify-center content-center">
                <a class="text-md font-medium transition-all duration-300 text-black hover:text-transparent bg-clip-text bg-gradient-to-r from-slate-500 to-slate-800" href="{{../baseurl}}{{this.url}}">{{this.title}}</a>
            </div>
        {{/each}}
    </nav>

    {{> @partial-block}}
</div>